<div flex="100" layout="column" layout-align="center center" layout-wrap>
    <div flex="50" layout="row" layout-wrap>
        <md-button ng-click="go('/see')" class="md-raised md-primary square-button" aria-label="Ad" layout-wrap>
            <md-icon md-svg-icon="action:ic_visibility_24px">
            </md-icon>
            <p>See Services</p>
        </md-button>
        <md-button ng-click="go('/search')" class="md-raised md-primary square-button" aria-label="Ad" layout-wrap>
            <md-icon md-svg-icon="content:ic_add_24px">
            </md-icon>
            <p>Search Services</p>
        </md-button>
    </div>
    <div flex="50" layout="row" layout-wrap>
        <md-button ng-click="go('/add')" class="md-raised md-primary square-button" aria-label="Ad" layout-wrap>
            <md-icon md-svg-icon="content:ic_add_24px">
            </md-icon>
            <p>Add Services</p>
        </md-button>

        <md-button ng-click="go('/view')" class="md-raised md-primary square-button" aria-label="Ad" layout-wrap>
            <md-icon md-svg-icon="content:ic_add_24px">
            </md-icon>
            <p>View Recent Adds</p>
        </md-button>
    </div>
</div>
