<slick>

</slick>
<div flex layout="row" layout-padding layout-wrap style="padding-bottom: 10px;" ng-cloak>

    <div flex="100">

        <h1 style="text-align: center;padding-left: 10px;font-weight:bolder;color: #00264d;">Get help from the Nostradamus extended communities</h1>
        <form flex>
            <md-toolbar flex style="background-color: #2C3E50" >
                <div class="md-toolbar-tools">
                    <h2 style="font-size: 25px;font-weight: bold">Ways to get in touch with us</h2>
                </div>
            </md-toolbar>

                <md-tabs flex md-dynamic-height md-border-bottom>
                    <md-tab flex style="font-color:#2C3E50" label="Forums">
                        <md-content flex class="md-padding">
                            <h6 style="font-size: 25px;font-weight: bold" class="md-display-2">Raise questions on StackOverflow</h6>
                            <p style="font-size: 20px">Have a technical how-to question? Not sure how to resolve an issue? </p>
                            <p style="font-size: 20px">Post your Nostradamus related questions queries on Stack Overflow and you shall get your answers from our extended Nostradamus community!</p>
                            <p style="font-size: 20px">You will find the link down below</p>
                            <md-button style="alignment: center" href="http://stackoverflow.com/" md-autofocus>
                                Ask on Stackoverflow
                            </md-button>
                        </md-content>
                    </md-tab>
                    <md-tab flex style="font-color:#2C3E50" label="Submit an Idea">
                        <md-content class="md-padding">
                            <h6 style="font-size: 25px;font-weight: bold" class="md-display-2">Submit an Idea</h6>
                            <p style="font-size: 20px">If you’d like to submit an idea or provide a feedabck for an improvement to Nostradamus you can:</p>
                            <p style="font-size: 20px">♣ Signup for Nostradamus in case you don't already have an account</p>
                            <p style="font-size: 20px">♣ Login to Nostradamus</p>
                            <p style="font-size: 20px">♣ Open the tab Dashboard</p>
                            <p style="font-size: 20px">♣ Submit your idea by choosing to Suggest a Pattern</p>
                            <p style="font-size: 20px">You will find the link down below if you're already logged in</p>
                            <md-button style="alignment: center" href="http://localhost:8080/#/dashboard" md-autofocus>
                                Submit an Idea
                            </md-button>
                        </md-content>
                    </md-tab>
                    <md-tab flex style="font-color:#2C3E50" label="Write to Us">
                        <md-content class="md-padding">
                            <h6 style="font-size: 25px;font-weight: bold" class="md-display-2">Write to us</h6>
                            <p style="font-size: 20px">You can also directly get in touch with us in case you want to get in touch with us directly regarding possible support and partnership</p>
                            <p style="font-size: 20px">♣ Visit the team profile on our Home page and get our personal contact information</p>
                            <p style="font-size: 20px">OR</p>
                            <p style="font-size: 20px">♣ You can also directly hit us up with the link provided below</p>
                            <md-button style="alignment: center" href="mailto:tum.nostradamus@gmail.com" md-autofocus>
                                Send Mail
                            </md-button>
                        </md-content>
                    </md-tab>

            <md-dialog-actions layout="row">
                <md-button href="http://stackoverflow.com/" md-autofocus>
                    Ask on Stackoverflow
                </md-button>
                <span flex></span>
                <md-button href="https://mail.google.com/mail/u/0/#inbox?compose=new" md-autofocus>
                    Write to us
                </md-button>
            </md-dialog-actions>
        </form>

    </div>

</div>
