<div class="md-toolbar-tools">
    <div class="toolbar-menuitems">

        <a role="button" href="#/landing">
            <img class="tumlogo" src="../../data/img/nostradamuslogo.png"
                 style="width:300px;height:35px;" /></a>

        <div flex="15">

        </div>
        <!-- not logged in -->
        <div layout="row" layout-align="start center" flex="60">
            <md-button ng-click="go('/stats','admin')" ng-class="{'custom-selected':dashboardEnabled}"
                       ng-if="loggedIn&&isAdmin" aria-label="dashboard-button">
                <span id="admin" class="md-body-2" hide-xs ng-if="loggedIn&&isAdmin">Admin</span>
            </md-button>
            <md-button ng-click="go('/dashboard','dash')" ng-class="{'custom-selected':dashboardEnabled}"
                       ng-if="loggedIn" aria-label="dashboard-button">
                <span id="dash" class="md-body-2" hide-xs ng-if="loggedIn">Dashboard</span>
            </md-button>
            <md-button ng-click="go('/pattern','patt')" ng-class="{'custom-selected':patternEnabled}"
                       ng-if="loggedIn" aria-label="pattern-button">
                <span id="patt" class="md-body-2" hide-xs ng-if="loggedIn">Identify Pattern</span>
            </md-button>
            <md-button ng-click="go('/antipattern','antpatt')" ng-class="{'custom-selected':antipatternEnabled}"
                       ng-if="loggedIn" aria-label="antipattern-button">
                <span id="antpatt" class="md-body-2" hide-xs ng-if="loggedIn">Identify AntiPattern</span>
            </md-button>
            <md-button ng-click="go('/learningcenter','lece')" ng-class="{'custom-selected':lcEnabled}"
                       ng-if="loggedIn" aria-label="lc-button">
                <span id="lece" class="md-body-2" hide-xs ng-if="loggedIn">Learning Center</span>
            </md-button>
            <md-button ng-click="showTabDialog($event)" aria-label="lc-button">
                <span class="md-body-2" hide-xs>Community</span>
            </md-button>
        </div>

        <span style="margin-top: 10px;font-size: small;width: 100px" class="md-body-2" hide-xs ng-if="!loggedIn">Not logged in</span>
        <md-menu md-position-mode="target-right target" ng-if="!loggedIn">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="short-menu-button">
                <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px" aria-label="short-menu-icon"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="showLoginDialog()" aria-label="login-button">
                        Log in
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="showSignupDialog()" aria-label="sign-up-button">
                        Sign Up
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <!-- logged in -->
        <span style="font-size: small;width: 100px" class="md-body-2" ng-if="loggedIn">Hello, {{user.username}}</span>
        <md-menu md-position-mode="target-right target" ng-if="loggedIn">
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="short-menu-button">
                <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="logout()" aria-label="logout-button">
                        Log out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</div>