<md-content layout="row" flex="100" class="md-neu-content md-padding"
            ng-controller="DashboardCtrl" layout-padding>
    <form name="SuggestNewPattern" layout="column" layout-align=" stretch" class="md-neu-form">
        <p><i>Add a
            UseCase Name
            and
            UseCase Description that is relevant to you requirement e.g. requirement id, requirement
            description</i></p>

        <md-input-container>
            <label>Select Type</label>
            <md-select ng-model="type">
                <md-option ng-repeat="type in types" value="{{type}}">{{type}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Name</label>
            <input type="text" name="newpatternname" ng-model="newpatternname" required md-maxlength="20">
            <div ng-messages="SuggestNewPattern.newpatternname.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 20 characters long.</div>
            </div>
        </md-input-container>
        <md-input-container>
            <label>Description</label>
            <textarea name="newpatterndesc" ng-model="newpatterndesc" md-maxlength="500" rows="5" md-select-on-focus></textarea>
            <div ng-messages="SuggestNewPattern.newpatterndesc.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The name has to be less than 500 characters long.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Link</label>
            <input required  type="text" name="newpatternlink" ng-model="newpatternlink">
        </md-input-container>

        <div layout="row" layout-align="end end">
            <md-button name="proceedButton" class="md-raised md-primary"
                       ng-show="SuggestNewPattern.newpatternname.$valid && SuggestNewPattern.newpatterndesc.$valid"
                       ng-click="submitNewPattern()">Submit</md-button>
        </div>
    </form>
</md-content>