<div layout="row" flex="100" layout-align="center center">
    <md-card layout-wrap>
        <div flex="100" layout-padding>
            <p>Here you can see services available in Stations and Stands</p>
            <div layout="row" layout-align="center center" layout-wrap flex="100">
                <md-input-container flex="100">
                    <label>Select Line</label>
                    <md-select flex="100" ng-model="selectedLine">
                        <md-option ng-repeat="see in sees" ng-value="see">
                            {{see}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" layout-wrap flex="100">
                <md-input-container flex="100">
                    <label>Select Station</label>
                    <md-select flex="100" ng-model="selectedStation">
                        <md-option ng-repeat="station in stations" ng-value="station.id">
                            {{station.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" layout-wrap flex="100">
                <md-input-container flex="100">
                    <label>Name</label>
                    <input type="text" ng-model="serviceName" required md-maxlength="10">
                </md-input-container>
                <md-input-container flex="100">
                    <label>Description</label>
                    <input type="textarea" ng-model="serviceDescription" required md-maxlength="10">
                </md-input-container>
                <md-input-container flex="100">
                    <label>Category</label>
                    <input type="text" ng-model="serviceCategory" required md-maxlength="10">
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center" layout-wrap flex="100">
                <md-button class="md-primary">
                    Add Service
                </md-button>
            </div>
        </div>
    </md-card>
</div>
