<md-content style="width:500px" ng-controller="CurrCntrl" flex="100" >
    <md-list flex="100">
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="left center" flex>
                    <img ng-src="../data/img/user.png" class="md-avatar" alt="{{selhistory.username}}" />
                    <p flex="60">{{selhistory.username}}</p>
                    <div layout="column">
                        <h4 flex="50">{{selhistory.analysisDate.slice(0,10)}}</h4>
                        <p flex="50">{{selhistory.analysisDate.slice(12,16)}}</p>
                    </div>
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="center center" flex>
                    <h2 style="text-align: center;" flex>{{selhistory.userStoryName}}</h2>
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="left center" flex>
                    <h4 flex="35">User Story Descp</h4>
                    <h3 style="padding: 10px;">{{selhistory.userStoryDesc}}</h3>
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="left center" flex>
                    <h4 flex="35">Result</h4>
                    <md-chips>
                        <md-chip ng-repeat="res in selsuggestion.analysisResult">{{res}}</md-chip>
                    </md-chips>
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" flex>
                <div layout="row" layout-align="left center" flex>
                    <h4 flex="35">User Feedback</h4>
                    <h3 style="padding: 10px;">{{selhistory.userFeedback}}</h3>
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
        <md-list-item class="md-3-line" flex>
            <div class="md-list-item-text" layout="column" layout-align="center center" flex>
                <h4>User Rating</h4>
                <div layout="row" layout-align="center center" flex>
                    <img ng-repeat="a in range(selhistory.resultRating) track by $index" ng-src="{{starPath}}?{{$index}}" class="md-avatar" alt="{{item.username}}" />
                </div>
            </div>
            <md-divider flex></md-divider>
        </md-list-item>
    </md-list>
</md-content>