<md-card-title>

    <md-card-title-text>
        <span class="md-headline">Your History</span>
        <!--<span class="md-subhead"></span>-->
    </md-card-title-text>

</md-card-title>

<md-card-content>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form>

    <md-table-container>
        <table class="table table-hover table-mc-light-blue table-bordered">
            <thead >
            <tr >
                <th style="width:150px;">Date</th>
                <th style="width:150px;">Use Case</th>
                <th style="width:150px;">Result</th>
                <th style="width:150px;">Rating</th>
                <th style="width:150px;">Comments</th>
            </tr>
            </thead>
            <tbody >
            <tr dir-paginate="data in dashboardTable | filter:search | itemsPerPage:10 | orderBy:-data.date">
                <td data-title="dateOfUse">{{data.date}}</td>
                <td data-title="shortDesc">{{data.usecaseShortDesc}}</td>
                <td data-title="result">{{data.usecaseResult}}</td>
                <td data-title="rating">
                    <span ng-if="!data.usecaseRating">
                        <!--<div star-rating rating="starRating0" click="click3(param)"
                             mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>-->
                        <a href="javascript:void(0);" ng-click = "showFeedbackForm()">Click to rate!</a>
                        <!--<div> <span class="label label-primary">Star Rating: {{starRating3}}</span>
                            <span class="label label-primary">Hover Rating: {{hoverRating3}}</span></div>-->
                    </span>
                    <span ng-if="data.usecaseRating==5">
                        <!--<div star-rating rating="starRating5"></div>-->
                        <span ng-repeat="i in [1,2,3,4,5]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="36"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.usecaseRating==4">
                        <span ng-repeat="i in [1,2,3,4]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="36"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.usecaseRating==3">
                        <span ng-repeat="i in [1,2,3]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="36"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.usecaseRating==2">
                        <span ng-repeat="i in [1,2]">
                            <ng-md-icon icon="star_rate" style="fill:#DAA520" size="36"></ng-md-icon></span>
                    </span>
                    <span ng-if="data.usecaseRating==1">
                        <ng-md-icon icon="star_rate" style="fill:#DAA520" size="36"></ng-md-icon>
                    </span>

                </td>
                <td data-title="comment">
                    <span ng-if="!data.usecaseComment">To be rated.</span>
                    <span>{{data.usecaseComment}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
    </dir-pagination-controls>
</md-card-content>