<div layout="row" layout-padding>

    <div flex="75">
        <table id="table" style="width:100%;border:1px solid black;">
            <thead>
            <th>Date</th>
            <th>Use Case</th>
            <th>Result</th>
            <th>Rating</th>
            <th>Comments</th>
            </thead>
            <tbody>
            <tr ng-repeat="data in dashboardTable">
                <td></td>
                <td>{{data.usecaseShortDesc}}</td>
                <td>{{data.usecaseResult}}</td>
                <td>
                    <span ng-if="!data.usecaseRating">
                        <input type="radio" name="rating5" value="5"> 5
                        <input type="radio" name="rating4" value="4"> 4
                        <input type="radio" name="rating3" value="3"> 3
                        <input type="radio" name="rating2" value="2"> 2
                        <input type="radio" name="rating1" value="1"> 1
                    </span>
                    {{data.usecaseRating}}
                </td>
                <td>{{data.usecaseComment}}</td>
            </tr>
            </tbody>

            <b>in place of radio buttons here, place a button.. on click of the button, make a popup where
            user can submit rating and comment</b>
        </table>
    </div>
    <div flex="25" layout-padding>
        <div layout="column" layout-padding style="border:1px solid black;">
            <div flex layout-padding>
            <div layout="column">
                <div flex layout-padding> Number of subscription days left :</div>
                <div flex layout-padding>
                    <div><uib-progressbar id="progressbar" color="green"></uib-progressbar></div>
                </div>
            </div>
            </div>
        </div>
        <div layout="column" layout-padding style="border:1px solid black;">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> News Feed:</div>
                </div>
                <div layout="column">
                    <div flex layout-padding> New Pattern added. Click <a>here</a> to find out!</div>
                </div>
            </div>
        </div>
        <div layout="column" layout-padding style="border:1px solid black;">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> Your suggested pattern has been incorporated.</div>
                </div>
                <div layout="column">
                    <div flex layout-padding> Click here to find out!</div>
                </div>
            </div>
        </div>
        <div layout="column" layout-padding style="border:1px solid black;">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> Nostradamus Success Ratio :</div>
                </div>
                <div layout="column">
                    <div flex layout-padding>
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="pieChartData" chart-labels="pieChartLabels"
                                colors="pieChartColors"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

