<!--<style>
    img{
        width:25px !important;
        height:25px !important;
    }
</style>-->

<div layout="row" layout-padding>

    <div class="table-responsive-vertical shadow-z-1" flex="75" layout-padding>
        <form class="form-inline">
            <div class="form-group">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <!--Table starts here-->
        <md-table-container>
        <table class="table table-hover table-mc-light-blue table-bordered">
            <thead >
                <tr >
                <th >Date</th>
                <th >Use Case</th>
                <th >Result</th>
                <th >Rating</th>
                <th >Comments</th>
            </tr>
            </thead>
            <tbody >
            <tr dir-paginate="data in dashboardTable | filter:search | itemsPerPage:15 | orderBy:-data.date">
                <td data-title="dateOfUse">{{data.date}}</td>
                <td data-title="shortDesc">{{data.usecaseShortDesc}}</td>
                <td data-title="result">{{data.usecaseResult}}</td>
                <td data-title="rating">
                    <span ng-if="!data.usecaseRating">
                        <div star-rating rating="starRating0" click="click3(param)"
                             mouse-hover="mouseHover3(param)" mouse-leave="mouseLeave3(param)"></div>
                        <!--<div> <span class="label label-primary">Star Rating: {{starRating3}}</span>
                            <span class="label label-primary">Hover Rating: {{hoverRating3}}</span></div>-->
                    </span>
                    <span ng-if="data.usecaseRating==5">
                        <div star-rating rating="starRating5" click="click3(param)"></div>
                    </span>
                    <span ng-if="data.usecaseRating==4">
                        <div star-rating rating="starRating4" click="click3(param)"></div>
                    </span>
                    <span ng-if="data.usecaseRating==3">
                        <div star-rating rating="starRating3" click="click3(param)"></div>
                    </span>
                    <span ng-if="data.usecaseRating==2">
                        <div star-rating rating="starRating2" click="click3(param)"></div>
                    </span>
                    <span ng-if="data.usecaseRating==1">
                        <div star-rating rating="starRating1" click="click3(param)"></div>
                    </span>

                </td>
                <td data-title="comment" >{{data.usecaseComment}}</td>
            </tr>
            </tbody>
        </table>
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    boundary-links="true" >
            </dir-pagination-controls>
        </md-table-container>
    </div>

    <div flex="25">
        <!--<div layout="column" layout-padding class="table-responsive-vertical shadow-z-1">
            <div flex layout-padding>
            <div layout="column">
                <div flex layout-padding> Number of subscription days left :</div>
                <div flex layout-padding>
                    <div>
                        <uib-progressbar id="progressbar" type='warning' max='days' value='daysRem' color="green">
                            <span> {{daysRem}}/{{days}} </span>
                        </uib-progressbar>
                    </div>
                </div>
            </div>
            </div>
        </div>-->
        <md-card mv-subscription-card></md-card>

        <!--<md-card mv-subscription-card></md-card>-->



        <!--<md-card mv-subscription-card></md-card>-->

        <div layout="column" layout-padding class="table-responsive-vertical shadow-z-1">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> News Feed:</div>
                </div>
                <div layout="column">
                    <div flex layout-padding> New Pattern added. Click <a>here</a> to find out!</div>
                </div>
            </div>
        </div>
        <div layout="column" layout-padding class="table-responsive-vertical shadow-z-1">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> Your suggested pattern has been incorporated.</div>
                </div>
                <div layout="column">
                    <div flex layout-padding> Click here to find out!</div>
                </div>
            </div>
        </div>
        <div layout="column" layout-padding class="table-responsive-vertical shadow-z-1">
            <div flex layout-padding>
                <div layout="column">
                    <div flex layout-padding> Nostradamus Success Ratio :</div>
                </div>
                <div layout="column">
                    <div flex layout-padding>
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="pieChartData" chart-labels="pieChartLabels"
                                colors="pieChartColors"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

