<md-card style="font-size:24px;">

    <h2>Choose the options related to your current scenario : </h2>

    <br/>

    <div layout="row" layout-wrap flex>
        <div flex="50" ng-repeat="antipattern in antipatterns">
            <md-checkbox ng-checked="exists(antipattern, selected)" ng-click="toggle(antipattern, selected)">
                {{ antipattern.apstatement }}
            </md-checkbox>
        </div>
    </div>

    <div flex="100" ng-show="showresult">
        <h1>Possible antipatterns present : </h1>
        <span ng-repeat="result in selected">
            <b><i><u>{{result.apname}}</u></i></b><br/>
            <b>Problem Context</b><br/>
            {{result.apcontext}}<br/>
            <b>Solution</b><br/>
            {{result.apsolution}}<br/><br/>
        </span>
    </div>

    <md-button ng-click="showantipattern()">Submit</md-button>

</md-card>
