<div layout="row" layout-wrap layout-padding id="antipatterndiv">

    <div layout="column">
    <h2>Choose the options related to your current scenario : </h2>
    </div>


    <div layout="column">

    <div layout="row" layout-wrap>
    <md-card mv-movie-card class="mv-card"  ng-repeat="antipattern in antipatterns" layout-padding>
        <md-checkbox ng-checked="exists(antipattern, selected)" ng-click="toggle(antipattern, selected)">
            <h5>{{ antipattern.apstatement }}</h5>
        </md-checkbox>
    </md-card>
    </div>
    </div>

    <div layout="column">
    <md-button class="md-raised md-cornered" style="background-color:#2c3e50;color:white;"
               ng-click="showantipattern()" layout-padding>
        <h5><b>Find the Anti-pattern!</b></h5></md-button>
    </div>

</div>

<!--
<mv-ap-result></mv-ap-result>

<div flex="100" ng-show="showresult">

</div>-->
