<div ng-show="addYourUserStory" layout="row" layout-wrap layout-padding layout-align="center center">
    <md-card flex="50" md-whiteframe="3">
        <h2>Please give a brief description of your use case :</h2>
        <md-content layout="column" layout-padding>
            <md-input-container flex="40">
                <label>Use Case Name</label>
                <input ng-model="apUseCaseName">
            </md-input-container>

            <md-input-container>
                <label>Use Case Description</label>
                <input ng-model="apUseCaseDesc">
            </md-input-container>

            <md-input-container>
                <md-button class="md-raised md-cornered" style="background-color:#2c3e50;color:white;" flex="10"
                           ng-click="showAntipatterndiv()" layout-padding>
                    <h5><b>Proceed!</b></h5></md-button>
            </md-input-container>
        </md-content>
    </md-card>
</div>

<div layout="row" layout-wrap layout-padding id="antipatterndiv" ng-show="showAntipatternList">
    <md-card>
        <div layout="column">
            <span id="left">&nbsp</span>
        </div>

        <div layout="column">
            <h2>Choose the options related to your current scenario : </h2>
        </div>

        <div layout="column">

            <div layout="row" layout-wrap>
                <md-card class="mv-card"  ng-repeat="antipattern in antipatterns" layout-padding>
                    <md-checkbox ng-checked="exists(antipattern, selected)" ng-click="toggle(antipattern, selected)"
                                 ng-disabled="checkboxEnable">
                        <h5>{{ antipattern.apstatement }}</h5>
                    </md-checkbox>
                </md-card>
            </div>
        </div>

        <div layout="column">
            <md-button class="md-raised md-cornered" style="background-color:#2c3e50;color:white; width:20%;"
                       ng-click="showantipattern($event)" layout-padding>
                <h5><b>Find the Anti-pattern!</b></h5></md-button>
        </div>
    </md-card>
</div>

