<md-dialog aria-label="Shankar Mohan Sathya">
    <form>
        <md-toolbar style="background-color:#2c3e50;">
            <div class="md-toolbar-tools">
                <h2>Akash Manjunath</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Personal Details">
                    <md-content class="md-padding">
                        <h6 class="md-display-2">About</h6>
                        <p style="font-size: medium">Akash Manjunath is currently pursuing Msc in Informatics at the Technical University, Munich. Apart from being an avid coder, he enjoys watching Football and listening to Music </p>
                    </md-content>
                </md-tab>
                <md-tab label="Contact">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Contact</h1>
                        <p style="font-size: large;font-weight: bold">Email</p>
                        <p style="font-size: large">akashmanju0703@gmail.com </p>
                        <p style="font-size: large;font-weight: bold">Mobile</p>
                        <p style="font-size: large">+49 17665614003</p>
                        <p style="font-size: large;font-weight: bold">LinkedIn Profile</p>
                        <p style="font-size: large">Link given below</p>
                        <p style="font-size: large;font-weight: bold">Xing Profile</p>
                        <p style="font-size: large">Link given below</p>
                    </md-content>
                </md-tab>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="https://www.linkedin.com/in/akash-m-a2302676?authType=NAME_SEARCH&authToken=Fk2x&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A268791867%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1467537249065%2Ctas%3Aakas" target="_blank" md-autofocus>
                Visit LinkedIn Profile
            </md-button>
            <span flex></span>
            <md-button href="https://www.xing.com/profile/Akash_Manjunath?sc_o=da980_e" md-autofocus>
                Visit Xing Profile
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>