<md-dialog aria-label="Shankar Mohan Sathya">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Gopala Krishna</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Personal Details">
                    <md-content class="md-padding">
                        <h6 class="md-display-2">About</h6>
                        <p style="font-size: medium">Shankar Mohan Sathya is currently pursuing Msc in Informatics at the Technical University, Munich. Apart from being an avid coder and a quizzer, he enjoys watching Football and listening to Music </p>
                    </md-content>
                </md-tab>
                <md-tab label="Contact">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Contact</h1>
                        <p style="font-size: large;font-weight: bold">Email</p>
                        <p style="font-size: large">m.s.shankar13689@gmail.com</p>
                        <p style="font-size: large;font-weight: bold">Mobile</p>
                        <p style="font-size: large">+49 15163648356</p>
                        <p style="font-size: large;font-weight: bold">LinkedIn Profile</p>
                        <p style="font-size: large">+49 15163648356</p>
                        <p style="font-size: large;font-weight: bold">Xing Profile</p>
                        <p style="font-size: large">+49 15163648356</p>
                    </md-content>
                </md-tab>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="https://www.linkedin.com/in/shankar-m-s-5096a5111?trk=hp-identity-name" target="_blank" md-autofocus>
                Visit LinkedIn Profile
            </md-button>
            <span flex></span>
            <md-button href="https://www.xing.com/profile/Shankar_MohanbabuSathyakumari?sc_o=mxb_p" target="_blank" md-autofocus>
                Visit Xing Profile
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>