<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" flex ng-cloak>
    <md-card style="background-color:#2c3e50">
        <img style="padding-left: 50px;padding-right: 50px; padding-top: 30px" src="../../data/img/user_new.png" height="20px" width="20px"/>
        <span class="md-subhead" style="text-align: center; color:#FFFFFF;padding: 10px;" class="md-body-2" ng-if="loggedIn">{{user.username}}</span>
        <md-list style="color:#FFFFFF;">
            <md-list-item>
                <md-divider style="background-color: #FFFFFF" flex></md-divider>
            </md-list-item>
            <md-list-item class="md-1-line">
                <h5 ng-click="goOn('/stats','stats')" flex>Overview</h5>
                <md-divider style="background-color: #FFFFFF" flex></md-divider>
            </md-list-item>
            <md-list-item class="md-1-line">
                <h5 ng-click="goOn('/feedview','feedview')" flex>Feedbacks</h5>
                <md-divider style="background-color: #FFFFFF" flex></md-divider>
            </md-list-item>
            <md-list-item class="md-1-line">
                <h5 ng-click="goOn('/patternsuggest','patternsuggest')" flex>New Pattern</h5>
                <md-divider style="background-color: #FFFFFF" flex></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
    <md-content flex="80">
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in historys" ng-click="openHistory(item)">
                <img style="margin-left: 40px;" ng-src="{{imagePath}}?{{$index}}" class="md-avatar" alt="{{item.username}}" />
                <div class="md-list-item-text" layout="row" layout-align="center center">
                    <h4 flex=10">{{ item.username }}</h4>
                    <div layout="column" flex="30">
                        <h3>{{ item.userStoryName }}</h3>
                        <p>{{ item.userFeedback }}</p>
                    </div>
                    <div flex="30">
                    <img ng-repeat="a in range(item.resultRating) track by $index" ng-src="{{starPath}}?{{$index}}" width="20px" height="20px" alt="{{item.username}}" />
                    </div>
                    <h3 flex="30">{{item.analysisDate.slice(11,16)}} {{item.analysisDate.slice(0,10)}}</h3>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>